<a href="https://colab.research.google.com/github/AIceDog/Python-Learning-Notes/blob/master/Python_Programming_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Learning notes from https://www.bilibili.com/video/BV1kT4y1u72i?spm_id_from=333.999.0.0

# Swap two variables

In [ ]:
a = 1
b = 2
print(a)
print(b)

1
2

In [ ]:
a, b = b, a
print(a)
print(b)

2
1

# String Formatting

In [ ]:
name = "Ross"

print("Hi, I'm " + name)

Hi, I'm Ross

In [ ]:
name = "Ross"
country = "China"
age = 28

print("Hi, I'm " + name + ". I'm from " + country + ". And I'm " + str(age) + ".")

Hi, I'm Ross. I'm from China. And I'm 28.

In [1]:
name = "Ross"
country = "China"
age = 28

print("Hi, I'm %s. I'm from %s. And I'm %d." % (name, country, age))

Hi, I'm Ross. I'm from China. And I'm 28.

In [3]:
name = "Ross"
country = "China"
age = 28

print("Hi, I'm {}. I'm from {}. And I'm {}." .format(name, country, age))

Hi, I'm Ross. I'm from China. And I'm 28.

In [4]:
name = "Ross"
country = "China"
age = 28

print("Hi, I'm {0}. Yes I'm {0}!" .format(name))

Hi, I'm Ross. Yes I'm Ross!

In [5]:
name = "Ross"
country = "China"
age = 28

print(f"Hi, I'm {name}. Yes I'm {country}. And I'm {age}.")

Hi, I'm Ross. Yes I'm China. And I'm 28.

# Yield Statement

In [6]:
def fibonacci(n):
  a = 0
  b = 1
  nums = []
  for _ in range(n):
    nums.append(a)
    a, b = b, a + b
  return nums

for i in fibonacci(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

In [7]:
def fibonacci(n):
  a = 0
  b = 1
  for _ in range(n):
    yield a # 每当计算出一个元素，就立马将这个元素给送出去，也就是说下面的 for loop 会立即输出这个数，使用 yield 的好处是不用等待整个列表都生成完毕后再一个个输出
    # yield 和 return 的区别是，当函数 yield 一个数值后，函数并不会马上返回，而会继续执行下去
    # 比如我们可以写一个函数从网络上下载一系列文档，并输出每个文档的内容，如果我们使用 yield，则可以保证在每个文档被下载成功后，就立马输出它的内容，而无需等待所有文档都下载完毕
    a, b = b, a + b

for i in fibonacci(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

# List Comprehension

In [10]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]

for i in range(len(fruit)):
  fruit[i] = fruit[i].upper()

print(fruit)

['APPLE', 'PEAR', 'PINEAPPLE', 'ORANGE', 'BANANA']

In [11]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]

fruit = [x.upper() for x in fruit]

print(fruit)

['APPLE', 'PEAR', 'PINEAPPLE', 'ORANGE', 'BANANA']

In [18]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]
filtered_fruit = []

for f in fruit:
  if f.startswith("a"):
    filtered_fruit.append(f)

print(filtered_fruit)

['apple']

In [17]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]
filtered_fruit = [x for x in fruit if x.startswith("a")]

print(filtered_fruit)

['apple']

# Enumerate Function

In [19]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]
for x in fruit:
  print(x)

apple
pear
pineapple
orange
banana

In [20]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]
for i, x in enumerate(fruit):
  print(i, x)

0 apple
1 pear
2 pineapple
3 orange
4 banana

# Looping Backwards (反向遍历)

In [21]:
fruit = ["apple", "pear", "pineapple", "orange", "banana"]
for i, x in enumerate(reversed(fruit)):
  print(i, x)

0 banana
1 orange
2 pineapple
3 pear
4 apple

# Looping in Sorted Order (按顺序遍历)

In [22]:
# 让元素按字典顺序排序
fruit = ["apple", "pear", "pineapple", "orange", "banana"]
for i, x in enumerate(sorted(fruit)):
  print(i, x)

0 apple
1 banana
2 orange
3 pear
4 pineapple

# Dictionary Merging (字典的合并操作)

In [24]:
a = {"ross" : "123456", "xiaoming" : "abc123"}
b = {"lilei" : "111111", "zhangsan" : "12345678"}

c = {}
for k in a:
  c[k] = a[k]
for k in b:
  c[k] = b[k]

print(c)

{'ross': '123456', 'xiaoming': 'abc123', 'lilei': '111111', 'zhangsan': '12345678'}

In [25]:
a = {"ross" : "123456", "xiaoming" : "abc123"}
b = {"lilei" : "111111", "zhangsan" : "12345678"}

c = {**a, **b} # ** 叫做 unpacking(解包)，相当于将字典 a 和 b 中的内容直接填到 c 里

print(c)

{'ross': '123456', 'xiaoming': 'abc123', 'lilei': '111111', 'zhangsan': '12345678'}

# Ternary Operator (三元运算符)

In [27]:
score = 5
if score > 60:
  s = "pass"
else:
  s = "fail"

In [28]:
s = "pass" if score > 60 else "fail" # Ternary Operator

# Sequence Unpacking (序列解包)

In [30]:
name = "San Zhang"

str_list = name.split()
first_name = str_list[0]
last_name = str_list[1]

print(f"first_name: {first_name}")
print(f"last_name: {last_name}")

first_name: San
last_name: Zhang

In [31]:
name = "San Zhang"

first_name, last_name = name.split()

print(f"first_name: {first_name}")
print(f"last_name: {last_name}")

first_name: San
last_name: Zhang

# With Statement

In [ ]:
f = open("somefile.txt", "r")
s = f.read()
f.close() # 当完成对文件的读取，不再需要对象 f 之后，一定不要忘记调用 close() 方法关闭文件，
# 如果你忘记关闭这个文件，python 将一直占用这个文件的系统资源，直到你的程序完全退出为止
# 对于小脚本来说这不是大事，但是对于需要长时间在服务器里运行的程序，你的系统资源可能很快被吃光，接着你的程序会崩溃

In [ ]:
with open("somefile.txt", "r") as f: # 这样写就不再需要手动调用 close() 函数了，当 with 语句之后的代码执行完毕后，这个文件就会自动地被 python 关闭
  s = f.read()